.container{
    /* drop-shadow-01 */
    box-shadow: 2px 2px 4px rgba(162, 192, 219, 0.11), 8px 8px 30px #DDE6EF;
    border-radius: 1.125rem;

    /* Padding */
    // width: fit-content;
    padding: 1.25rem 1.875rem;
    
}